h1{
    text-align: center;
    font-family: wingdings;
    font-size: 150;
}

.program{
    margin:30%;
    background-color:pink;
}

.hobbies{
    text-align: center;
}

#parent {
    display: flex;
    justify-content: space-around;
}

#inner {
    width: 50%;
}